.tabMenu {
    color: #e76f51;
    border: 2px solid #556b2f;
    margin-left: 5px;
}

.tabMenu:hover {
    color: white;
    background-color: #556b2f;
}

.icon {
    color:#556b2f;
    margin-left: 3px;
}

#icon1 {
    color:#556b2f;
    margin-right: 6px;
}

.text {
    font-family: Cinzel;
}



