.icon {
    color: "green"
}

.App {
    text-align: center;
  }
  .redHeading h6 {
    color: red;
  }

  #text2 {
    margin-right: 26rem;
  }

  #text1 {
    margin-right: 26rem;
  }

  #text3 {
    margin-right: 25rem;
  }

  #text {
    margin-right: 24rem;
  }
  /* .icon-color {
    color: red;
  } */